.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #99a2a7;
    color: white;
    width: 100vw;
    z-index: 200;
  }
  
  .menu-btn {
    background: none;
    border: none;
    color: white;
    font-size: 1.2rem;
  }
  
  .menu {
    display: none;
    flex-direction: column;
    align-items: center;
  }
  
  .menu.open {
    display: flex;
  }
  
  @media (min-width: 768px) {
    .menu {
      display: flex;
      flex-direction: row;
    }
  }